// colors
$clr-1: #2d9cdb;
$clr-2: #27ae60;
$clr-3: #eb5757;
$clr-4: #100e1d;
$clr-5: #4F4F4F;
$clr-6: #828282;
$clr-7: #2f2f2f;
$clr-8: #f2f2f2;

// box-shadow

$bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
