@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;700&display=swap");
body .container main .header__nav .nav__link {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

body .container main .main-intro__sub .main-intro__footer .email, body footer .footer-wrap .contact form .email {
  line-height: 27px;
  font-size: 18px;
  position: relative;
  width: 350px;
  padding: 15px 4px 15px 21px;
  border-radius: 12px;
  border: 0;
  outline: none;
  color: #2f2f2f;
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

body .container main .main-intro__sub .main-intro__footer .join, body footer .footer-wrap .contact form .join {
  position: absolute;
  width: 94px;
  padding: 11px 17px;
  -webkit-transform: translate(-104%, 9%);
          transform: translate(-104%, 9%);
  border-radius: 12px;
  border: 0;
  color: #fff;
  background: #2d9cdb;
  outline: none;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
}

body .container, body footer {
  width: 1440px;
  padding: 42px 52px;
  margin: 0 auto;
}

body footer .footer-wrap .socials .header__logo {
  font-size: 36px;
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  line-height: 52.88px;
}

body .container main .header__nav .nav__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #2d9cdb;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (max-width: 750px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em;
  }
  .header .header__nav {
    position: fixed;
    background: #000;
    color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.65s cubic-bezier(0, 1.88, 1, 1.22);
    transition: all 0.65s cubic-bezier(0, 1.88, 1, 1.22);
  }
  .header .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  .header .active .nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header .active .nav-toggle {
    position: fixed;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body .container main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body .container main .header .header__logo {
  font-size: 36px;
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  line-height: 52.88px;
}

body .container main .header .nav-toggle {
  display: none;
}

@media (max-width: 750px) {
  body .container main .header .nav-toggle {
    display: inline-block;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
  }
}

body .container main .header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  body .container main .header__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}

body .container main .header__nav .nav__item:not(:last-child) {
  margin-right: 62px;
}

@media screen and (max-width: 750px) {
  body .container main .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
  }
}

body .container main .header__nav .nav__link {
  color: inherit;
  position: relative;
}

body .container main .header__nav .nav__link::after {
  content: "";
}

body .container main .header__nav .nav__link:hover::after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .container main .main--intro {
  margin-top: 104px;
}

body .container main .main--intro .main-intro__heading {
  margin-left: 225px;
}

body .container main .main--intro .main-intro__heading .intro__link {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
  font-size: 18px;
  color: #2d9cdb;
  cursor: pointer;
  margin-top: 16px;
}

body .container main .main--intro .main-intro__heading .intro__link:hover {
  text-decoration: underline;
}

body .container main .main--intro .main-intro__heading .intro__heading {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  line-height: 72px;
}

body .container main .main--intro .intro__pic {
  margin: 42px 0;
  border-radius: 18px;
}

body .container main .main-intro__sub {
  width: 370px;
  margin-left: 225px;
}

body .container main .main-intro__sub .intro__heading {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 42px;
}

body .container main .main-intro__sub .main-intro__desc {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
  margin-bottom: 42px;
  color: #4F4F4F;
}

body .container main .main-intro__sub .main-intro__footer {
  margin-bottom: 200px;
}

body .container main .main-intro__sub .main-intro__footer p {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 9px;
  color: #828282;
}

body .container main .section-service {
  padding: 0 113px;
}

body .container main .section-service .sub-title__heading {
  font-size: 36px;
  line-height: 56px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

body .container main .section-service .section-service__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

body .container main .section-service .section-service__boxes .box {
  padding: 46px 34px;
  border-radius: 12px;
  margin-bottom: 194px;
}

body .container main .section-service .section-service__boxes .box:hover {
  -webkit-box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
          box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

body .container main .section-service .section-service__boxes .box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 67px;
  height: 67px;
  text-align: center;
  color: white;
  background: black;
  border-radius: 16px;
  font-size: 28px;
  margin-bottom: 35px;
}

body .container main .section-service .section-service__boxes .box .box__title {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

body .container main .section-service .section-service__boxes .box .box__desc {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

body .container main .section-service .section-service__boxes .box .box__btn {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 9px 13px;
  outline: none;
  border: 0;
  border-radius: 12px;
  background: #f2f2f2;
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
  cursor: pointer;
}

body .container main .section-service .section-service__boxes .box .box__btn:hover {
  color: #fff;
  background-color: #2d9cdb;
}

body .container main .section-design {
  padding: 0 113px;
}

body .container main .section-design .sub-title__heading {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 12px;
}

body .container main .section-design .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

body .container main .section-design .cards .card img {
  border-radius: 12px;
  margin-bottom: 20px;
}

body .container main .section-design .cards .card .tag__txt {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

body .container main .section-design .cards .card .tag__title {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 36px;
  font-size: 24px;
}

body .container main .section-design .cards .card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  margin-bottom: 150px;
}

body .container main .section-design .cards .card-2 {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-bottom: 130px;
}

body .container main .section-design .cards .card-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 5/-1;
}

body .container main .section-design .cards .card-4 {
  grid-column: 2/-1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

body .container main .section-design .cards .section__link {
  grid-column: 2/-1;
  grid-row: 7/-1;
  text-align: end;
  padding-top: 90px;
  color: #2d9cdb;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 36px;
  font-size: 24px;
}

body .container main .section-design .cards .section__link .fas {
  margin-left: 12px;
}

body .container main .section-design .cards .section__link:hover {
  text-decoration: underline;
}

body .container main .section-team {
  padding: 0 113px;
}

body .container main .section-team .section-team--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container main .section-team .section-team--header .section-team__title {
  width: 280px;
}

body .container main .section-team .section-team--header .section-team__title .header__txt {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #eb5757;
  line-height: 18px;
  line-height: 27px;
  margin-bottom: 7px;
}

body .container main .section-team .section-team--header .section-team__title .sub-title__heading {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 14px;
}

body .container main .section-team .section-team--header .section-team__title .title__desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #4F4F4F;
}

body .container main .section-team .section-team--header .section-team__avatars {
  width: 635.43px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 24px;
}

body .container main .section-team .section-team--header .section-team__avatars img {
  border-radius: 24px;
}

body .container main .section-team .section-team--header .section-team__avatars .img-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body .container main .section-team .section-team--header .section-team__avatars .img-2 {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  bottom: 0;
  margin-top: 60px;
}

body .container main .section-team .section-team--header .section-team__avatars .img-3 {
  grid-column: 2/-1;
  grid-row: 3/-1;
}

body .container main .section-team .quote {
  margin-top: 190px;
}

body .container main .section-team .quote .quote__txt {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 54px;
  color: black;
}

body .container main .section-team .quote .quote__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 46px;
}

body .container main .section-team .quote .quote__profile img {
  width: 82px;
  height: 82px;
  border-radius: 12px;
}

body .container main .section-team .quote .quote__profile .quote__profile--tags {
  padding: 10px 10px 10px 20px;
}

body .container main .section-team .quote .quote__profile .quote__profile--tags .name {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  color: #3333;
}

body .container main .section-team .quote .quote__profile .quote__profile--tags .pos {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 36px;
  font-size: 18px;
  color: #828282;
}

body footer {
  background: #100e1d;
  color: white;
}

body footer .footer-wrap {
  padding: 0 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .footer-wrap .nav-footer .nav-footer-list .footer__item .footer__link {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: inherit;
}

body footer .footer-wrap .socials .header__logo {
  margin-bottom: 10px;
}

body footer .footer-wrap .socials .icons img:not(:last-child) {
  margin-right: 10px;
}

body footer .footer-wrap .contact .contact__txt {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 9px;
}
/*# sourceMappingURL=main.css.map */