
@media screen and (max-width: 750px) {

    .header {
        display: flex;
        justify-content: center;
        padding: 1em;

        .header__nav {
            position: fixed;
            background: #000;
            color: #fff;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            transform: translateX(100%);
            transition: all 0.65s cubic-bezier(0, 1.88, 1, 1.22);
        }
        
        // .nav__list {
        //     list-style: none;
        //     display: flex;
        //     height: 100%;
        //     flex-direction: column;
        //     justify-content: space-evenly;
        //     align-items: center;
        //     margin: 0;
        //     padding: 0;
        // }

        

        .active .nav {
            transform: translateY(0);
        }

        .active .nav-toggle {
            position: fixed;
        }

        .hamburger {
            display: block;
            position: relative;
        }

        .hamburger,
        .hamburger::before,
        .hamburger::after {
            background: #000;
            width: 2.5em;
            height: 3px;
            border-radius: 1em;
        }

        .hamburger::before,
        .hamburger::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
        }

        .hamburger::before {
            transform: translateY(-6px);
        }

        .hamburger::after {
            transform: translateY(6px);
        }

        .active .hamburger {
            transform: translateX(2px);
        }

        .active .hamburger::before {
            transform: translateX(4px);
        }

        .active .hamburger::after {
            transform: translateX(1px);
        }
        
    }
}